/* css stylesheet for login.html */
/* #003333 */
/* -webkit is for chrome & safari
   -moz is firefox
   -o is opera
*/

/*styles the header*/
h1 {
	font-family: Helvetica, Arial, Times New Roman;
	background-color: white;
	text-align: center;
	color: #0000FF; /*dark bright blue color*/
	border: 5pt solid black;
	padding: 30px;

}

/* styles the body of the page*/
body {
	font-family: Helvetica, Arial, Times New Roman;
 
}

/* Styles the box whih contains the input forms for login in */
#login-box{
	font-family: Helvetica, Arial, Times New Roman;
	background-color: white; /* light gray */
	margin: 5px;
	padding: 20px;
	padding-left: 200px;
	border: 5px solid black;
	width: 30%;
	position:fixed;
	top: 200px;
	right: 400px;
	color: #0000FF; /* dark bright blue color */

}
/*styles the login form box */
#login-form{
	color: black;
}

/* styles the login button in the login-box */
#login{
	position: absolute;
	bottom: 10px;
	right: 60px;
	background-color: #0000FF; /* dark bright blue */
	color: white;
	border-radius: 10px;
	width: 80px;
	
}

/* styles the login button's hoover effect */
#login:hover{
	background-color: #000099; /* dark blue */
}
/* syteles the header image */
#header-image{
	position:fixed;
	left: 650px;
	top: 20px;

}

/* styles the customzie sources button */
#custom{
	position: fixed;
	left: 80px;
	background-color: #0000FF; /* dark bright blue */
	color: white;
	background: -webkit-linear-gradient(top, #0000FF,  #0066CC, #C0C0C0); /*dark bright blue to grayish-blue to light gray*/
	background: -mox-linear-gradient(top, #0000FF, #0066CC, #C0C0C0); 
	background: -o-linear-gradient(top, #0000FF, #0066CC, #C0C0C0); 
	-webkit-box-shadow: -2px -2px 2px rgb(88, 88, 180);    /*(horizontal offset, veritcal offset, optional blur distance, optional spread distance, color) rgb is grayish blue */
	-moz-box-shadow: -2px -2px 2px rgb(88, 88, 180); 
	-o-box-shadow: -2px -2px 2px rgb(88, 88, 180); 
	border-radius: 8px;
}

/* styles the hover effect for the customization button*/
#custom:hover{
	color: #0000FF; /* dark bright blue */
	background: #E8E8E8; /* light gray */
	border-top-color: white;
	border-bottom-color: white;
	border-left-color: white;
	border-right-color: white;

}

/* styles the home button */
#home{
	position: fixed;
	left: 10px;
	background-color:  #0000FF; /* dark bright blue */
	color: white;
	background: -webkit-linear-gradient(top, #0000FF,  #0066CC, #C0C0C0); /*dark bright blue to light gray*/
	background: -mox-linear-gradient(top, #0000FF,  #0066CC, #C0C0C0); 
	background: -o-linear-gradient(top, #0000FF,  #0066CC, #C0C0C0); 
	-webkit-box-shadow: -2px -2px 2px rgb(88, 88, 180);    /*(horizontal offset, veritcal offset, optional blur distance, optional spread distance, color) rgb is grayish blue */
	-moz-box-shadow: -2px -2px 2px rgb(88, 88, 180); 
	-o-box-shadow: -2px -2px 2px rgb(88, 88, 180); 
	border-radius: 8px;

}

/* sytles the hover effect for the home button */
#home:hover{
	color: #0000FF; /* dark bright blue */;
	background: #E8E8E8; /* light gray */
	border-top-color: white;
	border-bottom-color: white;
	border-left-color: white;
	border-right-color: white;

}

