@CHARSET "ISO-8859-1";

/* css stylesheet for home.html */

/*styles the header*/
h1 {
	font-family: Helvetica, Arial, Times New Roman;
	background-color: white;
	text-align: center;
	color: black; 
	border: 2pt groove  #e5e5e5;
	padding: 30px;

}

/* styles the body of the page*/
body {
	font-family: Helvetica, Arial, Times New Roman;
 
}

/* style the links  unvisited*/
a:link{
	
	color: #0000FF; /* dark bright blue color*/
}
/* visited link */
a:visited {
	color:#0000FF;
}  
/* mouse over link */
a:hover {
	color:#0000FF;
	text-decoration: none;
}  

a:active {
	color:#0000FF;
}




/*******navagation panel section **/

/*styles the nav panel */
.n{
	position: fixed;
	top: 32px;
}

/******* main feed section */


/* styles the main feed page */
.tts-form {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	margin-bottom: 10px;
}


/* styles a story */
.story{
	
	border: 2px solid black;
	border-top: 0px solid black;
	text-align: center
}

/* styles the first story div. There will be no overlapped with borders like on the other story
	divs so this is necessary to account of this difference */
#story-1{
		border: 2px solid black;
		text-align: center;
}

/* styles the title of a story */
.title{
	font-size: large;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 0px;
	
}


.url{
	padding-bottom: 4px;
}

/* styles the next button in the news feed */
#next{
	position: relative;
	top:10px;
	left: 364px;

}

/* styles the previous button in the news feed */
#previous{
	position: relative;
	top: 10px;
}


/*******category table section *****/

/* styles the table hoover class*/
.table-hoover, th, td{
	border: 2px solid black;
	width : 200px;
	background-color: #e5e5e5; /* light gray color */
}


/* styles the category table header */
#table-header {
	font-size: 25px;
	font-style: oblique;
	color: black; 
	padding: 10px;
}



/*styles the category table  */
#category {
	font-family: Helvetica, Arial, Times New Roman;
	position: fixed;
	left: 30px;
	/*top: 200px;*/
	top: 250px;
	color: #0000FF; /*dark bright blue color*/
	margin: 15px ;
	width: 10%;
	padding: 20px 20px 20px 20px;
	background-color: white;
	border: 3px groove black;
	text-align: center;
}


/* styling for the article times */
.time-stamp{
	text-align: center;
	position: fixed;
	left: 500px;
}

/* styling for the first articles time */
#time1{
	left: 500px;
	top: 265px;
}

/* styling for the 2nd articles time */
#time2{
	left: 500px;
	top: 335px;
}

/* styling for the 3rd articles time */
#time3{
	left: 500px;
	top: 400px;
}

/* styling for the 4th articles time */
#time4{
	left: 500px;
	top: 475px;
}

/* styling for the 5th articles time */
#time5{
	left: 500px;
	top: 545px;
}


