/* css stylesheet for sources.html */
/* author Lance Staley */

/*styles the header*/
h1 {
	font-family: Helvetica, Arial, Times New Roman;
	background-color: white;
	text-align: center;
	color: black; 
	border: 3pt groove black;
	padding: 30px;

}

/* styling the body */
body {
	font-family: Helvetica, Arial, Times New Roman;
	background-color: white; 


}


/*styles the nav panel */
.n{
	position: fixed;
	top: 32px;
}


#sources{
	position: relative;
	padding: 10px;
	text-align: center;
	
}





/* styles the remove selected button in the remove-box*/
#remove-button{
	padding: 4px;
	position: relative;
	top: 10px;
	left: 40%;
	background-color: red;
	color: white;
	border-radius: 10px;


}

#remove-button:hover{
	color:white;
	background-color: #800000; /* dark red */
	
}


/* styles the main box area */
.tts-form {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	margin-bottom: 10px;
}

